Source: libsalome-geom
Priority: extra
Maintainer: Henning Meyer <hmeyer@gmx.eu>
Build-Depends: cdbs, debhelper (>= 7), cmake, liboce-dev (>= 0.6.0-0ubuntu9), libxmu-dev, libsm-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://sourceforge.net/projects/salomegeometry/

Package: libsalome-geom
Section: libs
Architecture: any
Depends: ${misc:Depends}, liboce1, libxmu6, libsm6
Recommends: python-occ
Description: A complete OpenCascade - OCAF based CAD framework. Note that this is not the original SALOME GEOM project but an effort to create a standalone framework based on the existing one from SALOME project, with the addition of extra functionality.

Package: libsalome-geom-dev
Section: libdevel
Architecture: all
Depends: libsalome-geom (= ${binary:Version})
Description: A complete OpenCascade - OCAF based CAD framework. Note that this is not the original SALOME GEOM project but an effort to create a standalone framework based on the existing one from SALOME project, with the addition of extra functionality.
