#!/usr/bin/make -f

DH_VERBOSE=1
CONFIGURE_FLAGS = -DOCC_INCLUDE_PATH=/usr/include/oce

clean:
	dh_testdir
	dh_auto_clean
	rm -rf debian/tmp
	rm -rf debian/libsalome-geom*.[sd]*
	rm -rf debian/libsalome-geom
	rm -rf debian/libsalome-geom-dev


build: build-stamp

build-stamp: 
	dh_testdir
	# Add here commands to compile the package.
	dh_auto_configure -- $(CONFIGURE_FLAGS)
	dh_auto_build
	touch build-stamp

%:
	dh $@

.PHONY: clean build 

